<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <style>
        h2 {
          margin-bottom: 0;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <div id="app" class="container">
        <ul id="sample">
            <li v-for="column in info">
              ( ID : [[ column.id ]] ) ( Name : [[ column.name ]] ) ( Price : [[ column.price ]] )
            </li>
        </ul>
        <h2>POST</h2>
        <form @submit.prevent="createProduct">
            <label>商品名
                <input type="text" v-model="newProduct.name">
            </label><br>
            <label>価格
                <input type="number" v-model.number="newProduct.price"> <!-- 数値データになるようにnumber修飾性をつける -->
            </label><br>
            <input type="submit" value="POST /product">
        </form>
        <br>
        [[ newProduct.name ]]<br> <!-- バインド情報の表示 -->
        [[ newProduct.price ]]

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: {
                info: null,
                newProduct: {name: '', price: null},
            },
            methods: {
                getProducts: function() {
                    axios.get('/products')
                    .then(response => {
                        this.info = response.data.products
                    })
                    .catch(error => {
                        console.log(error);
                    })
                },
                createProduct: function() {
                    axios.post('/product', this.newProduct)
                    .then(response => {})
                    .catch(error => {
                        console.log(error);
                    })
                    this.getProducts()
                }
            },
            mounted () {
                axios.get('/products')
                .then(response => { this.info = response.data.products })
            }
        });
    </script>
</body>
</html>