<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    <div id="dragDrop">
        <div class="drop_area" @dragenter="dragEnter"
                               @dragleave="dragLeave"
                               @dragover.prevent
                               @drop.prevent="dropFile"
                               :class="{enter: isEnter}">
            ファイルアップロード
        </div>
        <div>
            <ul class="flex">
                <li class="flex-col" v-for="(file,index) in files" :key="index" @click="deleteFile(index)">
                    <div style="position: relative;">
                        <span class="delete-mark">×</span>
                        <img class="file_icon" src="/static/img/icon-file.png">
                    </div>
                    <span>[[ file.name ]]</span>
                </li>
            </ul>
            <div v-show="files.length">
                <button class="button" @click="sendFile">送信</button>
            </div>
            <ul>
                <li v-for="column in info">
                  ID : [[ column.id ]]  / Name : [[ column.name ]]
                </li>
            </ul>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const dragDrop = new Vue({
            el: "#dragDrop",
            delimiters: ['[[', ']]'],
            data: {
                isEnter: false,
                info: null,
                files: [],
                files_name: {name: ''},
            },
            mounted () {
                axios.get('/files')
                .then(response => { this.info = response.data.files })
            },
            methods: {
                dragEnter() {
                    this.isEnter = true;
                },
                dragLeave() {
                    this.isEnter = false;
                },
                dragOver() {
                    console.log('DragOver')
                },
                dropFile() {
                    // ここはドロップダウンした処理
                    this.files.push(...event.dataTransfer.files)
                    this.isEnter = false;
                },
                deleteFile(index) {
                    this.files.splice(index, 1)
                },
                sendFile() {   
                    this.files.forEach(file => {
                        this.files_name = {...this.files_name, name: file.name}
                        axios.post('/file', this.files_name)
                            .then(response => {})
                            .catch(error => {
                                console.log(error);
                        })
                    })
                    this.getFiles()
                },
                getFiles: function() {
                    axios.get('/files')
                    .then(response => { this.info = response.data.files })
                }
            }
        })
    </script>
</body>
</html>